@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg-img {
  background-image: url(../../public/login/pexels-catiamatos-1072179.jpg);

  background-size: cover; /* Use 'cover' if you want the image to fill the height completely */
  background-position: center;
  background-repeat: no-repeat;
}
.homeThumbnail-bg-img {
  background-image: url(../../public/home/HomeThumbnail.jpg);

  background-size: cover; /* Use 'cover' if you want the image to fill the height completely */
  background-position: center;
  background-repeat: no-repeat;
}

/* styles/globals.css */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

/* --------------------------- */

/* General styles for the background animation */

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; /* Ensure the background is behind other content */
}

.stars {
  background: black
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1; /* Ensure the twinkling effect is above stars */
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2; /* Ensure clouds are above twinkling */
  animation: move-background 150s linear infinite;
}

/* Keyframes for move-background animation */
@keyframes move-background {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}
/* ---------------------------------------------- */
