@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg-img {
  background-image: url(../../public/login/pexels-catiamatos-1072179.jpg);

  background-size: cover; /* Use 'cover' if you want the image to fill the height completely */
  background-position: center;
  background-repeat: no-repeat;
}
.homeThumbnail-bg-img {
  background-image: url(../../public/home/HomeThumbnail.jpg);

  background-size: cover; /* Use 'cover' if you want the image to fill the height completely */
  background-position: center;
  background-repeat: no-repeat;
}

/* styles/globals.css */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
